# Add the dependencies here so its easier to setup the environment.
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
python-multipart
email-validator